<!DOCTYPE html>
<html ng-app="scorePredictor">
  <head>
    <title>11</title>
    <!-- stylesheets -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href='/stylesheets/pick.css'/>

    

	<!-- external javascript -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
  	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>

  	<!-- self javascript -->
    <script src="/javascripts/angular-app.js"></script>
    <script src="/javascripts/predict.js"></script>
  </head>

  <body ng-controller="mainController as mainCtrl">

  