
body {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
}

h1, h2, h3, h4, h5, h6, p {
	font-weight: 600;
}

.modal {
	margin-top: 7%;
}

.modal-content {
	background-color: #fafafa;
}

.modal-body h4 {
	line-height: 30px;
}

.btn-default {
	background-color: #000;
	color: #fff;
	font-weight: 600;
	border: none;
}

.btn-default:hover {
	background-color: gray;
	color: #000;
	font-weight: 600;
	border: none;
}

#brain {
	background: url('../images/brain.png');
}


/* pick team section*/

.team-logo {
	width: 60px;
	text-align: center;
}

.img-responsive {
    margin: 0 auto;
}

.select-teams {
	background-color: #3498db;
	border: 2px solid #2980b9;
	border-radius: 5px;
	color: #fff;
}

.pick-teams-section {
	background-color: #ffffff;
	height: 800px;
	margin-left: -15px;
	margin-right: -15px;
	margin-top: -20px;
	padding-left: 20px;
	padding-top: 20px;
	overflow: scroll;
	font-weight: 600;
}

.team {
	border-bottom: 4px solid #fafafa;
	padding-top: 4%;
	padding-bottom: 4%;
	font-weight: 600;
}

/* results section*/ 

.results-section {
	padding-top: 100px;
	margin-left: -15px;
	overflow: none;
	height: 775px;
	background: url('../images/football_field.jpg');
	background-color: #2ecc71;
}

.team1{
	height: 50px;
}

.team2 {
	height: 50px;
}

.prediction-result {
	color: #fff;
	text-align: center;
	font-size: 70px;
	margin-top: 5%;
}

.two-teams {
	border: 0;
	color: #fff;
}

.versus {
	color: #ffffff;
	text-align: center;
}

.predict-button-section {
	margin-top: 20%;
	text-align: center;
}

.predict-button {
	background-color: #34495e;
	border: 4px solid #2c3e50;
	border-radius: 5px;
	color: #ffffff;
	margin: 10px;
	padding: 20px;
}

.refresh-button {
	background-color: #f7f7f7;
	border-radius: 5px;
	border: 4px solid #f7f7f7;
	padding: 20px;
}
